/* General */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dance View */
.dance-view-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-dance-view-container {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-dance-view-container {
  height:70%;
  display: flex;
  flex-direction: row;
}

.bottom-dance-view-container {
  height: 18%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dance-view-left-column {
  width: 10%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dance-view-middle-column {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dance-view-right-column {
  width: 10%;
}

.back-button {
  position: absolute;
  left: 2%;
  top: 4%;
}

/* WebCam View */
.webcam-view-container {
  position: relative;
  width: 45%;
  display: flex;
  justify-content: center;
}

.webcam-video {
  border-radius: 30px;

  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  z-index: 0;
}

.webcam-overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  /* background-color: #ff000022; */

  transform: scaleX(-1);
  z-index: 1;
}

.dance-score-view-wrapper {
  position: absolute;
  top: 15%;
  right: 10%;
}

.coaching-overlay-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Coaching Overlay */
.coaching-overlay-container {
  width: 100%;
  height: 100%;
  padding: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  
  font-size: calc(1vw + 0.5em);
  font-weight: bolder;
  color: white;
  background: #00000055;
}

/* Video Player View */
.video-player-view-container {
  position: relative;
  width: 45%;

  display: flex;
  justify-content: center;
}

.video-player-and-canvas-wrapper {
  position: relative;
  height: 100%;
  width: fit-content;
}

.video-player > video {
  width: 100% !important;
  height: 100% !important;
  border-radius: 30px;
}

.video-overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 30px;
  /* background-color: #ff000022; */
  z-index: 1;
}

/* Speed Control View */
.speed-control-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.speed-control-button {
  color: black;
  font-weight: bold;
  font-family: DM, sans-serif;
  box-shadow: none;
}

.speed-control-button.selected {
  transform: scale(1.25);
}

/* Auxiliary Control View */
.auxiliary-control-view-container {
  width: 100%;
  padding-left: 50%;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}

/* Toggle Button */
.toggle-button.enabled {
  background-color: #e3e3e3;
}

.toggle-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.toggle-button-description {
  font-size: 14px;
}

.toggle-button-on-off {
  font-size: 12px;
  color: gray;
}

/* Playback Control View */
.playback-control-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.video-playback-slider {
  width: 60%;
}
